[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = git@github.com:vigasdeep/hugo-theme-hello-friend-ng.git
[submodule "themes/hello-friend-ng-vigas"]
	path = themes/hello-friend-ng-vigas
	url = git@github.com:vigasdeep/hugo-theme-hello-friend-ng.git
